@import 'variables/index';

html {
  height: 100%;
  font-size: 15px;
}

body {
  display: flex;
  flex-flow: column;
  min-width: $sm;
  min-height: 100%;
  font-family:"Montserrat", sans-serif;
  line-height: 1.6;
  color: $whiteColor;
  // background-color: $whiteColor;

}

.header {
  flex: 0 0 auto;
 }
 
 .page {
   flex: 1 0 auto;
 
 }
 .footer {
   flex: 0 0 auto;
 }
 

.container {
  width: 87.5%;
  margin: 0 auto;
}


.red {
  color: $redColor;
}

@keyframes slide {
  0% {
    transform: translateY(20px)
  }
  100% {
    transform: translateY(-20px)ж
  }
}
@media(min-width: $md) {
  .container {
    // width: 89.33%;
  }
}

@media(min-width: $lg) {
  .container {
    max-width: 1170px;
  }
}

